<div
  class="app-course-list-item"
  [ngClass]="{'top-rated': course.topRated}"
  [appCreationDateBorder]="course.creationDate">

  <div class="content">
    <div class="header">
      <span class="title">
        {{course?.title | uppercase}}
        <img *ngIf="course?.topRated" src="assets/img/star.png">
      </span>

      <app-button
        class="duration"
        iconPath="assets/img/clock.png"
        [name]="course?.duration | timeInMinutes"
      ></app-button>

      <app-button
        iconPath="assets/img/calendar.png"
        [name]="course?.creationDate | date:'d MMM, yyyy'"
      ></app-button>
    </div>

    <p class="description">{{course?.description}}</p>
  </div>

  <div class="actions">
    <div class="buttons-box">
      <app-button
        class="edit"
        name="Edit"
        iconPath="assets/img/pencil.png"
        (click)="onEditButtonClick()"
      ></app-button>

      <app-button
        class="delete"
        name="Delete"
        iconPath="assets/img/trash.png"
        (click)="onDeleteButtonClick()"
      ></app-button>
    </div>
  </div>
</div>
