<app-search></app-search>

<div class="add-button-box">
  <app-button
    [name]="'Add course'"
    [iconPath]="'assets/img/plus.png'"
    (click)="onAddButtonClick()"
  ></app-button>
</div>

<div *ngIf="noDataMessage" class="base-font no-data-message">
  {{noDataMessage | uppercase}}
</div>

<ng-container *ngIf="courses$ | async as courses">
  <app-course-list
    [courses]="courses"
    [searchText]="searchText"
    (doRefresh)="onDoRefresh($event)"
  ></app-course-list>

  <div class="load-more-box" *ngIf="showLoadMore">
    <span (click)="onLoadMoreClick()">{{'load more' | uppercase}}</span>
  </div>
</ng-container>
