:host {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 24px 0;
}

app-search {
  margin-left: 85px;
  margin-bottom: 24px;
}

.add-button-box {
  display: flex;
  justify-content: flex-end;
  margin-right: 85px;
  margin-bottom: 12px;

  app-button {
    width: 138px;
    height: 36px;
    border-radius: 3px;
    background-color: #30b6dd;
  }
}

.no-data-message {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  font-size: 18px;
  text-align: center;
}

app-course-list {
  margin: 0 65px 24px 65px;
  padding: 0 20px;
  overflow-y: auto;
}

.load-more {
  font-family: SourceSansPro;
  font-size: 12px;
  height: 48px;
  line-height: 48px;
  margin: 0 85px;
  border-radius: 6px;
  box-shadow: 0 1px 24px 0 rgba(18, 21, 35, 0.08);
  background-color: #ffffff;
  color: #577ce6;
  text-align: center;
  text-decoration: underline;
}
