<app-search
  (searchTextChange)="onSearchTextChange($event)"
></app-search>

<div class="add-button-box">
  <app-button [name]="'Add course'" [iconPath]="'assets/img/plus.png'"></app-button>
</div>

<div *ngIf="displayNoDataMessage; else coursesListContent" class="base-font no-data-message">
  {{'no data. feel free to add new course' | uppercase}}
</div>

<ng-template #coursesListContent>
  <app-course-list
    [courses]="courses"
    [searchText]="searchText"
    (deleteCourse)="onDeleteCourse($event)"
  ></app-course-list>

  <div class="load-more" (click)="onLoadMoreClick()">{{'load more' | uppercase}}</div>
</ng-template>
