<app-search
  (searchTextChange)="onSearchTextChange($event)"
></app-search>

<div class="add-button-box">
  <app-button
    iconPath="assets/img/plus.png"
    [name]="'COURSES.ADD' | translate"
    (click)="onAddButtonClick()"
  ></app-button>
</div>

<div *ngIf="noDataMessageKey" class="base-font no-data-message">
  {{ noDataMessageKey | translate | uppercase }}
</div>

<ng-container *ngIf="courses$ | async as courses">
  <app-course-list
    [courses]="courses"
    [searchText]="searchText"
  ></app-course-list>

  <div class="load-more-box" *ngIf="showLoadMore">
    <span (click)="onLoadMoreClick()">{{ 'COURSES.LOAD_MORE' | translate | uppercase }}</span>
  </div>
</ng-container>
