:host {
  flex: 1;
  overflow: auto;
}

.app-course {
  display: flex;
  align-items: center;
  padding: 24px;

  .form-box {
    margin: 0 auto;
    padding: 24px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 1px 24px 0 rgba(18, 21, 35, 0.08);
  }
}

.header-box {
  display: flex;
  align-items: center;
  margin-bottom: 22px;

  .title {
    flex: 1;
    font-size: 24px;
    font-weight: 600;
    color: #2c2f3c;
  }

  .error-message {
    font-size: 12px;
    color: #ff4e33;
  }
}

.fields-box {
  .title-box,
  .description-box,
  .duration-box {
    width: 683px;
  }

  .date-box {
    width: 150px;
  }
  
  .authors-box {
    width: 312px;
  }
  
  .title-box,
  .description-box,
  .duration-box,
  .date-box,
  .authors-box {
    margin-bottom: 12px;
  
    .header {
      display: flex;
      margin-bottom: 7px;
  
      .name {
        flex: 1;
        font-weight: 600;
        color: #525462;
      }
    
      .required {
        font-size: 12px;
        color: #6c7283;
      }
    }
  }

  .duration-box {
    .header {
      width: 150px;
    }

    .duration-content-box {
      display: flex;
      align-items: center;
  
      .duration-input {
        display: block;
        width: 150px
      }
  
      .duration-info {
        margin-left: 12px;
      }
    }
  }
}

.footer-box {
  display: flex;
  align-items: center;
  margin-top: 24px;

  app-button {
    height: 36px;
    border-radius: 3px;
  }

  .cancel-button {
    margin-left: auto;
    width: 76px;
    background-color: #d9dbe3;
  }

  .save-button {
    width: 64px;
    margin-left: 12px;
    background-color: #9bc837;
  }
}
