<div class="app-course">
  <form [formGroup]="courseForm" (ngSubmit)="onSubmit()">
    <div class="header-box">
      <span class="base-font title">{{formTitle}}</span>
    </div>

    <div class="fields-box">
      <div class="title-box">
        <div class="header">
          <span class="base-font name">Title:</span>
          <span class="base-font required">*required</span>
        </div>
      
        <app-input
          formControlName="title"
          placeholder="Add title"
          [invalid]="!isControlValid('title')"
        ></app-input>

        <app-form-control-error
          controlName="title"
          errorName="required"
          [form]="courseForm"
        ></app-form-control-error>

        <app-form-control-error
          controlName="title"
          errorName="maxlength"
          errorCondition="50"
          [form]="courseForm"
        ></app-form-control-error>
      </div>
      
      <div class="description-box">
        <div class="header">
          <span class="base-font name">Description:</span>
          <span class="base-font required">*required</span>
        </div>
      
        <app-textarea
          formControlName="description"
          placeholder="Add description"
          [invalid]="!isControlValid('description')"
        ></app-textarea>

        <app-form-control-error
          controlName="description"
          errorName="required"
          [form]="courseForm"
        ></app-form-control-error>

        <app-form-control-error
          controlName="description"
          errorName="maxlength"
          errorCondition="500"
          [form]="courseForm"
        ></app-form-control-error>
      </div>
      
      <div class="duration-box">
        <div class="header">
          <span class="base-font name">Duration:</span>
          <span class="base-font required">*required</span>
        </div>
      
        <div class="duration-content-box">
          <app-integer-input
            class="duration-input"
            formControlName="duration"
            placeholder="minutes"
            [invalid]="!isControlValid('duration')"
          ></app-integer-input>
        
          <span class="base-font duration-info">
            {{courseForm.controls.duration.value | timeInMinutes}}
          </span>
        </div>

        <app-form-control-error
          controlName="duration"
          errorName="required"
          [form]="courseForm"
        ></app-form-control-error>

        <app-form-control-error
          controlName="duration"
          errorName="min"
          errorCondition="1"
          [form]="courseForm"
        ></app-form-control-error>
      </div>
      
      <div class="date-box">
        <div class="header">
          <span class="base-font name">Date:</span>
          <span class="base-font required">*required</span>
        </div>

        <app-datepicker
          formControlName="date"
          placeholder="d MMM, yyyy"
          [invalid]="!isControlValid('date')"
        ></app-datepicker>

        <app-form-control-error
          controlName="date"
          errorName="required"
          [form]="courseForm"
        ></app-form-control-error>
      </div>
      
      <div class="authors-box">
        <div class="header">
          <span class="base-font name">Authors:</span>
          <span class="base-font required">*required</span>
        </div>

        <app-multi-select-dropdown 
          formControlName="authors"
          placeholder="Start typing"
          [invalid]="!isControlValid('authors')"
          [options]="authorOptions$ | async"
        ></app-multi-select-dropdown>

        <app-form-control-error
          controlName="authors"
          errorName="required"
          [form]="courseForm"
        ></app-form-control-error>
      </div>
    </div>

    <div class="footer-box">
      <app-button
        class="cancel-button"
        name="Cancel"
        (click)="onCancelButtonClick()"
      ></app-button>

      <app-button
        type="submit"
        class="save-button"
        name="Save"
        [class.disabled]="!courseForm.valid"
        [disabled]="!courseForm.valid"
      ></app-button>
    </div>
  </form>
</div>
