textarea {
  width: calc(100% - 24px);
  height: 108px;
  border-radius: 3px;
  padding: 6px 12px;
  border: solid 1px #d9dbe3;
  color: #2c2f3c;
  resize: none;
  outline: none;

  &::placeholder {
    color: #c0c3ce;
  }

  &.invalid {
    border: 1px solid #ff4e33;
  }
}
