:host {
  display: flex;
  background-color: #414452;
}

.left {
  padding-left: 85px;
}

.right {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding-right: 33px;

  app-button {
    height: 20px;
  }

  .user-name {
    margin-right: 13px;
  }
}
