:host {
  display: flex;
  background-color: #414452;
}

.left {
  padding-left: 85px;
}

.right {
  display: flex;
  margin-left: auto;
  padding-right: 33px;

  .user-name {
    margin-right: 13px;
  }
}
