<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

  <div class="header-box">
    <span class="base-font title">Login</span>
    <span *ngIf="errorMessage$ | async as errorMessage" class="base-font error-message">{{errorMessage}}</span>
  </div>

  <div class="user-login-box">
    <div class="header">
      <span class="base-font name">E-mail:</span>
      <span class="base-font required">*required</span>
    </div>

    <app-input
      formControlName="userLogin"
      [placeholder]="'Enter e-mail'"
    ></app-input>
  </div>

  <div class="user-password-box">
    <div class="header">
      <span class="base-font name">Password:</span>
      <span class="base-font required">*required</span>
    </div>

    <app-input
      formControlName="password"
      [placeholder]="'Enter password'"
      [type]="'password'"
    ></app-input>
  </div>

  <div class="footer-box">
    <span class="base-font forgot-password">Forgot password?</span>

    <app-button
      type="submit"
      class="login-button"
      [class.disabled]="!loginForm.valid"
      [name]="'Login'"
      [textColor]="getLoginButtonColor()"
      [disabled]="!loginForm.valid"
    ></app-button>
  </div>

</form>
