button {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    color: #ffffff;
    cursor: pointer;

    &:focus {
        outline: 0;
    }
}

.icon {
    margin-right: 6px;
    vertical-align: middle;
}
