.input-box {
  position: relative;
  height: 100%;

  .icon {
    position: absolute;
    top: 12px;
    left: 12px;
  }

  input {
    height: calc(100% - 12px);
    border-radius: 3px;
    border: solid 1px #d9dbe3;
    color: #2c2f3c;
  
    &::placeholder {
      color: #c0c3ce;
    }
  }
}
