:host {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding-left: 85px;
}

.item {
    color: #868996;

    &:not(.current) {
        cursor: pointer;
    }

    &.current {
        margin-left: 4px;
        font-weight: 600;
        color: #2c2f3c;   
    }

    .delimiter {
        color: #30b6dd;
    }
}
